<h1>A propos</h1>
<p>Cette application propose un moyen simple pour réaliser des visio-conférences entre FabLab</p>

<h2>Connexion</h2>
<p>Pour accéder aux rooms et pouvoir réaliser une visio-conférence avec un autre utilisateur, il faut préalablement se connecter à l'application avec un login et un mot de passe. Cette authentification est nécessaire pour pouvoir profiter pleinement de l'application</p>

<h2>Profil & Utilisateur</h2>
<p>Vous pouvez consulter votre profil, ainsi que ceux des autres utilisateurs afin de savoir où celui-ci travaille par exemple.</p>

<p>Le système "Qui est où ?" permet de retrouver les utilisateurs dans les différentes rooms, afin de pouvoir facilement converser avec eux.</p>
