<!DOCTYPE html>
<html>
    <head>
        <title>WebRTC Demo - FabLab Project</title>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
        <!-- <script src="socket.io.js"></script> -->
        <script src="/js/simplewebrtc.bundle.js"></script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDqu-4RAXAUsXo6CZ7tvi7U4_sd3AE3k&sensor=false">
    	</script>
        <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/css/bootstrap-theme.min.css">
        <script src="/lib/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/style/page-design.css" />

    </head>
    <body>
        <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="row row-margin">
                <div class="navbar-header menu-margin">
                    <h2 class="site-description">
                        <a href="/" id="home" style="text-decoration:none;">Fablabs</a>
                    </h2>
                </div>
            </div>
            <div class="row row-margin">
                <div class="panel-group" id="fablabsMenu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/room/Grenoble" style="text-decoration:none;">Grenoble</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/room/Lyon" style="text-decoration:none;">Lyon</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/room/Rennes" style="text-decoration:none;">Rennes</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/about">A propos</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/profil">Mon profil</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/rooms">Qui est où</a>
                            </h4>
                        </div>
                    </div>
		    <div class="panel panel-default">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a href="/users">Utilisateurs</a>
			</h4>
			</div>
		</div>
                </div>
            </div>
        </div>
        <div class="content content-extra">
            <%- content %>
        </div>
    </body>
</html>

