<!--
TODO: Modifier ce fichier (ainsi que test.ejs et server.js)
cf : http://blog.techniv.fr/2013/express-js-3-et-les-layout-ejs/
 -->
<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><%- title %></h1>
		<!-- L'enplacement de la vue -->
		<%- body %>
	</body>
</html>